@import "../../styles/type.scss";

body {
  margin: 0;
  padding: 0;
}

.landing-page-container {
  width: 100%;
  // height: calc(100vh - 82px); // add back when header is added
  height: 100vh;
  background: hsl(333, 100%, 91%);
  color: #213a7e;
  margin: 0;
  position: relative;
  overflow: hidden;
}

// ---------------------------
//content
// ---------------------------
.landing-page-content {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

// ---------------------------
// text callout
// ---------------------------
.callout {
  // calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  font-size: calc(24px + 24 * (100vw - 320px) / 1264);
  color: white;
  font-family: "IBM Plex Mono";
  font-style: italic;
}
