@use '@carbon/react/scss/theme' as *;

// -----------------
// landing
// -----------------
.landing-page {
  background: linear-gradient(
    90deg,
    rgba(222, 173, 250, 1) 0%,
    rgba(192, 244, 255, 1) 100%
  );

  height: calc(100vh - 3rem);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page h1 {
  font-size: 5rem;
}

// -----------------
// header
// -----------------

.cds--header {
  position: sticky;
  background: linear-gradient(
    90deg,
    rgba(192, 244, 255, 1) 0%,
    rgba(222, 173, 250, 1) 100%
  );
}

a.cds--header__menu-item {
  background-color: transparent;
  color: $text-primary;
}

a.cds--header__name {
  padding-right: 1rem;
}

a.cds--header__menu-item:focus,
a.cds--header__name:focus {
  border: 2px solid $text-primary;
}

a.cds--header__menu-item:hover {
  background-color: transparent;
  text-decoration: line-through;
}

.cds--header__nav::before {
  display: none;
}

a.cds--header__name:hover {
  text-decoration: line-through;
}

// -----------------
// dark
// -----------------

.dark-landing {
  background: linear-gradient(
    90deg,
    rgba(4, 35, 103, 1) 0%,
    rgba(44, 130, 122, 1) 100%
  );
}

.dark-header {
  background: linear-gradient(
    90deg,
    rgba(44, 130, 122, 1) 0%,
    rgba(4, 35, 103, 1) 100%
  );
}

// -----------------
// content
// -----------------

.main-content {
  margin: auto;
}

.homepage-section {
  padding-top: 4rem;
  max-width: 50rem;
  margin: auto;
}

.homepage-section:last-child {
  padding-bottom: 8rem;
}

// -----------------
// nav toggle
// -----------------

.cds--toggle__text {
  line-height: 14px;
}

.cds--toggle {
  height: 3rem;
  padding-left: 1rem;
}

// -----------------
// component overrides
// -----------------

//light
.cds--g10 {
  .cds--tile--clickable,
  .blog-post-tile {
    background: linear-gradient(
      90deg,
      rgba(222, 173, 250, 1) 0%,
      rgba(192, 244, 255, 1) 100%
    );
    transition: all 200ms ease;
  }

  .cds--tile--clickable:hover,
  .blog-post-tile:hover {
    transform: translateX(-2rem);
  }

  .cds--text-input,
  .cds--text-area {
    border: 1px solid transparent;
    transition: border-width 200ms ease;
    border-bottom: 1px solid rgba(222, 173, 250, 1);
  }

  .cds--text-input:focus,
  .cds--text-input:active,
  .cds--text-area:focus,
  .cds--text-area:active {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
      90deg,
      rgba(222, 173, 250, 1) 0%,
      rgba(192, 244, 255, 1) 100%
    );
    outline: none;
  }
}

//dark
.cds--g100 {
  .cds--tile--clickable,
  .blog-post-tile {
    background: linear-gradient(
      90deg,
      rgba(4, 35, 103, 1) 0%,
      rgba(44, 130, 122, 1) 100%
    );
    transition: all 200ms ease;
  }

  .cds--tile--clickable:hover,
  .blog-post-tile:hover {
    transform: translateX(-2rem);
  }

  .cds--text-input,
  .cds--text-area {
    border: 1px solid transparent;
    transition: border-width 200ms ease;
    border-bottom: 1px solid rgba(44, 130, 122, 1);
  }

  .cds--text-input:focus,
  .cds--text-input:active,
  .cds--text-area:focus,
  .cds--text-area:active {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
      90deg,
      rgba(4, 35, 103, 1) 0%,
      rgba(44, 130, 122, 1) 100%
    );
    outline: none;
  }
}
