.header {
  display: flex;
  width: 100%;
  align-content: center;
  background: hsl(333, 100%, 91%);
  padding: 0;
}

.header-nav {
  margin: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: #213a7e;
}

.nav-list li {
  padding: 2rem;
}

.nav-list a:hover {
  border-bottom: 2px solid white;
}

.nav-list a:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}
