.header {
  display: flex;
  width: 100%;
  align-content: center;
  padding: 0;
}

.header-nav {
  margin: auto;
  padding: 0;

  @media (max-width: "750px") {
    margin: 0;
  }
}

.header-btn {
  display: none;

  @media (max-width: "750px") {
    display: block;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;

  @media (max-width: "750px") {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    background-color: #a1baab;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: width ease-out 100ms 10ms;
  }
}

.nav-list--active {
  height: 100vh;
  width: 100%;
  opacity: 1;
  transition: width ease-in 100ms 0s;

  & .link a {
    color: white;
  }
}

.nav-list .link {
  padding: 2rem;
}

.link a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #a1baab;
  position: relative;
  transition: color ease-in 100ms;
  font-size: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    height: 9px;
    width: 100%;
    background-color: grey;
    opacity: 0.1;
    transition: width ease-in 100ms;
  }
}

.link a:hover {
  color: grey;

  &::before {
    width: 0;
  }
}

.link a:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
