//import the rest of carbon styles
@use '@carbon/react';

body,
.cds--content {
  background: react.$background;
  color: react.$text-primary;

  //testing overriding active page border
  --cds-border-interactive: #a4b7ed;
}

.cds--header__action--active {
  background: react.$background;
}

.cds--header {
  position: sticky;
}
