//import the rest of carbon styles
@use '@carbon/react';

body,
.cds--content {
  background: react.$background;
  color: react.$text-primary;

  //testing overriding active page border
  --cds-border-interactive: #a4b7ed;
}

.cds--header__action--active {
  background: react.$background;
}

.theme-section {
  background: react.$background;
  color: react.$text-primary;
}

:root {
  @include react.theme(react.$g10);
}

[data-carbon-theme='g100'] {
  @include react.theme(react.$g100);
}
