@use '@carbon/react/scss/theme' as *;

// -----------------
// landing
// -----------------
.landing-page {
  background: linear-gradient(
    90deg,
    rgba(222, 173, 250, 1) 0%,
    rgba(192, 244, 255, 1) 100%
  );

  height: calc(100vh - 3rem);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page h1 {
  font-size: 5rem;
}

// -----------------
// header
// -----------------

.cds--header {
  position: sticky;
  background: linear-gradient(
    90deg,
    rgba(222, 173, 250, 1) 0%,
    rgba(192, 244, 255, 1) 100%
  );
}

a.cds--header__menu-item {
  background-color: transparent;
  color: $text-primary;
  white-space: nowrap;
}

a.cds--header__name {
  padding-right: 1rem;
}

a.cds--header__menu-item:focus,
a.cds--header__name:focus,
a.cds--header__menu-item.cds--header__menu-item--current:focus {
  border: 2px solid $text-primary;
}

a.cds--header__menu-item:hover {
  background-color: transparent;
  text-decoration: line-through;
}

.cds--header__nav::before {
  display: none;
}

a.cds--header__name:hover {
  text-decoration: line-through;
}

.cds--header__menu-item--current::after {
  border-bottom: 2px solid rgba(222, 173, 250, 1);
}

.header-toggle-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 1rem;
}
.header-toggle-wrapper .cds--toggle:nth-child(2) {
  //set width bc language toggle jumps 2px when it says "EN"
  width: 74px;
}

// -----------------
// side nav
// -----------------

.cds--side-nav__navigation {
  top: 0;
  background: rgb(240, 213, 255);
}

@media (max-width: 65.98rem) {
  .cds--side-nav__overlay-active {
    top: 0;
  }
}

//sidenav items
.cds--side-nav a.cds--header__menu-item {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.cds--side-nav a.cds--header__menu-item:focus,
.cds--side-nav a.cds--header__menu-item.cds--header__menu-item--current:focus {
  border: none;
  outline-color: black;
}

// sidenav item active style
.cds--side-nav .cds--header__menu-item--current::after {
}

//open btn
.cds--header__menu-trigger:focus {
  border: 2px solid black;
}

//close btn
.close-menu-button {
  width: 100%;
  background: $background-hover;
  justify-content: flex-start;
  padding-left: 1rem;
  color: black;
}

.close-menu-button:hover {
  background: rgba(253, 244, 119, 0.7);
  color: black;
}

.close-menu-button:focus {
  background: rgba(253, 244, 119, 0.7);
  border: none;
  outline: 2px solid black;
  outline-offset: -4px;
  color: black;
  box-shadow: none;
}

// expand func
.sidenav-default .cds--side-nav__overlay-active {
  width: 0;
}

.sidenav-default .cds--side-nav__navigation {
  transform: translateX(-256px);
  transition: 100ms ease all;
}

.slide-in .cds--side-nav__overlay-active {
  width: 100vw;
}

.slide-in .cds--side-nav__navigation {
  transform: translateX(0);
}

//dark sidenav
.dark-header {
  .cds--header__menu-trigger:focus {
    border: 2px solid white;
  }

  .cds--side-nav__navigation {
    background: $background;
  }

  .cds--side-nav a.cds--header__menu-item {
    color: white;
  }

  .cds--side-nav a.cds--header__menu-item:focus,
  .cds--side-nav
    a.cds--header__menu-item.cds--header__menu-item--current:focus {
    outline-color: white;
  }

  .close-menu-button {
    color: white;
  }

  .close-menu-button:hover {
    background: rgb(253, 244, 119);
    color: black;
  }

  .close-menu-button:focus {
    background: rgb(253, 244, 119);
    color: black;
  }
}
// -----------------
// dark landing
// -----------------

.dark-landing,
.dark-header {
  background: linear-gradient(
    90deg,
    rgba(3, 23, 66, 1) 0%,
    rgba(2, 64, 58, 1) 100%
  );
}

.dark-header .cds--header__menu-item--current::after {
  border-bottom: 2px solid rgba(44, 130, 122, 1);
}

.is-sticky,
.no-scroll {
  background: $layer-01;
}

// -----------------
// nav toggle
// -----------------

.cds--toggle__text {
  line-height: 14px;
}

.cds--toggle {
  height: 3rem;
  padding-left: 1rem;
}

// -----------------
// content
// -----------------

.cds--css-grid {
  max-width: 100%;
  padding: 0;
}

.cds--css-grid-column {
  margin: 0;
}

.cds--content {
  padding: 0;
}

.main-content {
  margin: auto;
}

.homepage-section {
  padding-top: 4rem;
}

.homepage-section:last-child {
  padding-bottom: 8rem;
}

.center-content {
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
}

// -----------------
// portfolio tiles
// -----------------
.portfolio-tile:focus,
.portfolio-tile:active {
  outline: 2px solid $text-primary;
  outline-offset: -6px;
}

.one-tile {
  background: rgba(192, 244, 255, 0.7);
  &:hover {
    background: rgba(192, 244, 255, 0.85);
  }
}

.two-tile {
  background: rgba(253, 244, 119, 0.7);
  &:hover {
    background: rgba(253, 244, 119, 0.85);
  }

  &:focus {
    outline: 2px solid black;
  }
}

.three-tile {
  background: rgba(222, 173, 250, 0.7);
  &:hover {
    background: rgba(222, 173, 250, 0.85);
  }
}

.four-tile {
  background: $layer-01;
  &:hover {
    background: rgb(249, 247, 247);
  }
}

.cds--g100 {
  .one-tile {
    background: rgba(22, 22, 22, 1);
    &:hover {
      background: rgba(22, 22, 22, 0.7);
    }
  }

  .two-tile {
    background: rgba(253, 244, 119, 1);
    color: black;
    &:hover {
      background: rgba(253, 244, 119, 0.9);
      color: black;
    }
  }

  .three-tile {
    background: rgba(2, 64, 58, 1);
    &:hover {
      background: rgba(2, 64, 58, 0.7);
    }
  }

  .four-tile {
    background: rgba(3, 23, 66, 1);
    &:hover {
      background: rgba(3, 23, 66, 0.6);
    }
  }
}

// -----------------
// contact section
// -----------------

//light
.homepage-section:last-child {
  background: rgb(248, 241, 252);
}

.cds--text-input,
.cds--text-area {
  border: 2px solid transparent;
  transition: all 200ms ease;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(222, 173, 250, 1);
}

//dark
.cds--g100 .homepage-section:last-child {
  background: $layer-01;
}

.cds--g100 .cds--text-input,
.cds--g100 .cds--text-area {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(44, 130, 122, 1);
}

.contact-form {
  max-width: 400px;
  padding-top: 2rem;
}

// icons
.social-icons {
  margin-left: -0.5rem;
}

.social-icons a {
  padding: 0.5rem;
  border-radius: 50%;
}

.social-icons a svg {
  fill: $icon-primary;
}

.social-icons a:hover svg {
  fill: rgba(222, 173, 250, 1);
  transition: fill 200ms ease;
}

.cds--g100 .social-icons a:hover svg {
  fill: rgba(44, 130, 122, 1);
}
// -----------------
// blog
// -----------------
.post-back-click {
  color: $text-primary;
  font-size: 14px;
  background: rgba(192, 244, 255, 0.7);
  text-decoration: none;
  & svg {
    position: relative;
    top: 3px;
  }
  &:hover {
    background: none;
    color: $text-primary;
    text-decoration: line-through;
  }
  &:focus {
    outline: 2px solid $text-primary;
    outline-offset: -2px;
  }
}

.cds--g100 .post-back-click {
  background: rgba(2, 64, 58, 1);
  &:hover {
    background: none;
  }
}
